@model Telerik.Sitefinity.Frontend.Mvc.Helpers.ViewModels.Fields.DateFieldViewModel

@using Telerik.Sitefinity;

<div class="@ViewBag.CssClass" data-sf-field="@Model.FieldName" data-sf-ftype="DateTime">

    @if (!Model.FieldTitle.IsNullOrEmpty())
    {
    <strong>@Model.FieldTitle:</strong>
    }

    <span>@Model.Date.ToSitefinityUITime().ToString(Model.DateFormat)</span>    
</div>