@model Telerik.Sitefinity.Frontend.Mvc.Helpers.ViewModels.Fields.ClassificationFieldViewModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers;

<div class="@ViewBag.CssClass" data-sf-field='@Model.FieldName' data-sf-ftype='HierarchicalTaxon'>
    @if (!Model.FieldTitle.IsNullOrEmpty())
    {
    <strong>@Model.FieldTitle:</strong>
    }

    <ul>
    @foreach (string taxonName in Model.TaxonIds.GetTaxonNames(Model.ClassificationId))
    {
        <li>@taxonName</li>   
    }
    </ul>
</div>
