@model Telerik.Sitefinity.Frontend.Mvc.Helpers.ViewModels.Fields.MediaFieldViewModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers; 

<div>
    @if (!Model.FieldTitle.IsNullOrEmpty())
    {
        <strong>@Model.FieldTitle</strong>
    }
    
    <div><img src='@Model.MediaItem.GetImage().MediaUrl' alt='@Model.MediaItem.GetImage().AlternativeText' title='@Model.MediaItem.GetImage().Title' /></div>
</div>