@model Telerik.Sitefinity.Frontend.Mvc.Helpers.ViewModels.Fields.ChoiceFieldViewModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers;

<div class="@ViewBag.CssClass">
    @if (!Model.FieldTitle.IsNullOrEmpty())
    {
        <strong>@Model.FieldTitle:</strong>
    }
    
    <span data-sf-field="@Model.FieldName" data-sf-ftype="ChoicesDropDown">@Model.MultiChoiceValues.GetMultipleChoiceValueString();</span>    
</div>