@model Telerik.Sitefinity.Frontend.Mvc.Helpers.ViewModels.Fields.TextFieldViewModel


<div class="@ViewBag.CssClass">
    @if (!Model.FieldTitle.IsNullOrEmpty())
    {
    <strong>@Model.FieldTitle:</strong>
    }
    
    <span>@Model.FieldValue</span>   
          @Model.Unit
</div>