@model Telerik.Sitefinity.Frontend.Mvc.Helpers.ViewModels.Fields.TextFieldViewModel


<div class="@ViewBag.CssClass">
    @if (!Model.FieldTitle.IsNullOrEmpty())
    {
    <strong>@Model.FieldTitle:</strong>
    }
    <span>@string.Format(Model.FieldValue, Model.Format)</span>
</div>