@model Telerik.Sitefinity.Frontend.Mvc.Helpers.ViewModels.Fields.RelatedDataFieldViewModel

@using Telerik.Sitefinity.Model;

<div>
    @if (!Model.FieldTitle.IsNullOrEmpty())
    {
        <strong>@Model.FieldTitle:</strong>
    }

    <ul>

    @foreach (IDynamicFieldsContainer relatedItem in Model.RelatedItemCollection)
    {
        <li><a href='@Telerik.Sitefinity.RelatedData.RelatedDataExtensions.GetDefaultUrl(relatedItem)'>@relatedItem.GetValue(Model.IdentifierField)</a></li>   
    }
    </ul>
</div>