@model Telerik.Sitefinity.Frontend.Mvc.Helpers.ViewModels.Fields.RelatedDataFieldViewModel

@using Telerik.Sitefinity.Model;
@using Telerik.Sitefinity.Libraries.Model;

<div>
    @if (!Model.FieldTitle.IsNullOrEmpty())
    {
        <strong>@Model.FieldTitle:</strong>
    }

    <ul>
    @foreach (MediaContent relatedItem in Model.RelatedItemCollection)
    {
        <li class="media">
            <video controls>
                <source  src='@relatedItem.MediaUrl'>
            </video>
        </li>   
    }
    </ul>
</div>