@model Telerik.Sitefinity.Frontend.Mvc.Helpers.ViewModels.Fields.ChoiceFieldViewModel


<div class="@ViewBag.CssClass">
    @if (!Model.FieldTitle.IsNullOrEmpty())
    {
    <strong>@Model.FieldTitle:</strong>
    }

    <span data-sf-field="@Model.FieldName" data-sf-ftype="ChoicesRadioButtons">@Model.ChoiceValueText</span>    
</div>