@model Telerik.Sitefinity.Frontend.Mvc.Helpers.ViewModels.Fields.ChoiceFieldViewModel

@using Telerik.Sitefinity.Localization;

<div class="@ViewBag.CssClass">
    @if (!Model.FieldTitle.IsNullOrEmpty())
    {
    <strong>@Model.FieldTitle:</strong>
    }

    <span data-sf-field="@Model.FieldName" data-sf-ftype="YesNo">@(Model.YesNoValue ? Res.Get<Labels>().Yes : Res.Get<Labels>().No)</span>    
</div>